:root {
  --primary-dark: #bf5100;
  --primary-main: #f8801e;
  --primary-light: #ffb151;
  --color-primary-contrast-text: #fff;

  --color-white: #fff;
  --color-black: #000;
  --color-gray0: #7c7a7a;
  --color-gray1: #616161;
  --color-gray2: #424242;
  --color-gray3: #212121;

  --color-light1: #f5f5f5;
  --color-light2: #eeeeee;
  --color-light3: #e0e0e0;
  --color-light4: #bdbdbd;

  --color-error-main: #f44336;
  --color-warning-main: #ff9800;
  --color-info-main: #2196f3;
  --color-success-main: #4caf50;

  --border-1: 1px solid #e0e0e0;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*=== 1rem = 10px ===*/
  height: 100%;
}

body {
  box-sizing: border-box;
  line-height: 170%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-gray3);
}

#root {
  height: 100%;
}
